.job-item {
  background-color: #272727;
  margin: 10px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 8px;
}
.logo-img1 {
  width: 45px;
}
.star-rating {
  display: flex;
}
.title {
  color: #ffffff;
  font-size: 15px;
  font-family: 'Roboto';
}
.title-section {
  display: flex;
  height: 60px;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0px;
}
.name-title {
  margin: 10px;
}
.location-sa {
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
}
.description {
  color: #ffffff;
  font-size: 12px;
  font-family: 'Roboto';
}
.line {
  color: #b6c5ff;
  margin-top: 0px;
}
.location-icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.rating {
  color: #ffffff;
  font-size: 10px;
  margin-left: 5px;
  margin-top: 0px;
}
.type {
  color: #ffffff;
  font-size: 10px;
  margin: 15px;
  margin-left: 10px;
}
.location-type {
  display: flex;
  margin-top: 0px;
}
.nav-link {
  text-decoration: none;
}
