.logo-img {
  width: 120px;
  height: 35px;
}
.logout-desktop-btn {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 15px;
  padding: 8px 16px;
  color: #ffffff;
  background-color: #0967d2;
  border: none;
  border-radius: 4px;
  margin-left: 14px;
  cursor: pointer;
  outline: none;
}

.nav-item {
  font-size: 25px;
  font-family: 'Roboto';
  color: #ffffff;
  margin: 10px;
  list-style-type: none;
}

.nav-content2 {
  display: flex;
  width: 100%;
  height: 60px;
  background-color: #272727;
  justify-content: space-between;
  align-items: center;
  padding-left: 35px;
  padding-right: 35px;
}
.nav-content {
  display: none;
}

@media screen and (min-width: 992px) {
  .nav-content {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: #272727;
    justify-content: space-between;
    align-items: center;
    padding-left: 35px;
    padding-right: 35px;
  }
}

.nav-content-mobile {
  display: none;
}
@media screen and (max-width: 991px) {
  .nav-content-mobile {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: #272727;
    justify-content: space-between;
    align-items: center;
    padding-left: 35px;
    padding-right: 35px;
  }
}

.nav-menu {
  display: flex;
  list-style-type: none;
}

.nav-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-link {
  text-decoration: none;
  color: #ffffff;
}
.mobile-view {
  display: none;
}
